* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.button {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.wrapper {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .wrapper {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 10px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.section--gray {
  background: #F6F6F6;
}

.title {
  color: #545454;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  text-align: center;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 999;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__title {
  font-family: 'Georgia';
  font-size: 32px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 10px;
}

.header .logo__subtitle {
  font-family: 'Arial';
  font-size: 13px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1em;
  color: #292929;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item {
  margin-left: 35px;
}

.header__menu .logo {
  display: none;
}

.header__menu--overlay {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
}

.header__menu-link {
  color: #545454;
  padding-bottom: 6px;
}

.header__menu-link.active {
  border-bottom: 2px solid #F1CDB3;
}

.header__burger {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
}

.header__burger span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__burger::before, .header__burger::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger--active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
  .header {
    padding-right: 43px;
  }
  .header__menu {
    z-index: 30;
    position: fixed;
    width: 320px;
    height: 100%;
    top: 0;
    right: -200%;
    background: #292929;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 172px;
    display: flex;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .header__menu .logo {
    display: block;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .header__menu .logo__title {
    color: #F1CDB3;
  }
  .header__menu .logo__subtitle {
    color: #FFFFFF;
  }
  .header__menu .header__menu-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 62px;
  }
  .header__menu .header__menu-item {
    margin: 0;
  }
  .header__menu .header__menu-link {
    color: #FFFFFF;
    font-size: 32px;
  }
  .header__menu--active {
    right: 0;
  }
  .header__menu--active .header__menu--overlay {
    display: block;
  }
  .header__burger {
    display: block;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .header__burger--active {
    z-index: 99;
    position: fixed;
    top: 46px;
    right: 54px;
  }
  .header__burger--active::after, .header__burger--active::before, .header__burger--active span {
    background-color: #F1CDB3;
  }
}

.ourPets {
  background: #F6F6F6;
  padding-top: 200px;
}

.ourPets__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.ourPets__button {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.ourPets__button:disabled {
  border: 2px solid #CDCDCD;
  cursor: default;
}

.ourPets__button:disabled svg path {
  fill: #CDCDCD;
}

.ourPets__number {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #F1CDB3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  background-color: #F1CDB3;
}

.ourPets__title {
  font-size: 35px;
  max-width: 400px;
  margin-bottom: 59px;
  letter-spacing: 0.06em;
}

.ourPets__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.ourPets__card {
  display: none;
  background-color: #FAFAFA;
  text-align: center;
  border-radius: 9px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.ourPets__card-title {
  margin-top: 27px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.ourPets__card-button {
  padding: 14px 42px;
  display: inline-block;
  background: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;
  margin-left: auto;
  margin-top: 31px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 2px solid #F1CDB3;
}

.ourPets__card-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ourPets__card:hover {
  cursor: pointer;
  cursor: pointer;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.ourPets__card:hover .ourPets__card-button {
  background: #F1CDB3;
}

.ourPets__card--visible {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ourPets {
    padding-bottom: 76px;
  }
  .ourPets__title {
    margin-bottom: 30px;
  }
  .ourPets__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 580px;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 767px) {
  .ourPets {
    padding-top: 160px;
  }
  .ourPets__title {
    font-size: 25px;
  }
  .ourPets__title {
    margin-bottom: 44px;
  }
  .ourPets__container {
    max-width: 270px;
    margin-bottom: 42px;
  }
}

.footer {
  padding-top: 56px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  height: 226px;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
}

.footer__column-title {
  max-width: 280px;
  text-align: left;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__column-link {
  padding-top: 4px;
  display: block;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  position: relative;
}

.footer__column-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
}

.footer__column-link--boston::before {
  top: 11px;
  left: 0;
}

.footer__column--location {
  padding-left: 41px;
}

.footer__column--contact {
  padding-left: 60px;
}

.footer__column--contact::before {
  width: 40px;
  height: 32px;
}

.footer__column--email::before {
  background-image: url(../../assets/icons/icon-email.svg);
}

.footer__column--phone::before {
  background-image: url(../../assets/icons/icon-phone.svg);
}

.footer__column--location::before {
  width: 22px;
  height: 32px;
  background-image: url(../../assets/icons/icon-marker.svg);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-top: 28px;
  }
  .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__column {
    max-width: 43%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 30px;
  }
  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column {
    height: 203px;
    margin-bottom: 50px;
  }
  .footer__column--contact {
    padding-left: 74px;
  }
  .footer__column--phone {
    padding-left: 81px;
  }
  .footer__column-title {
    font-size: 25px;
    text-align: center;
  }
  .footer__column-link::before {
    left: 14px;
  }
  .footer__column-link--london::before {
    top: 10px;
  }
  .footer__column--location::before {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */